<% if comment.valid? %>
<p><%= comment.content %></p>
<div class="text-info text-right">
  <small>
    <%= format_time(comment.created_at) %>
    by
    <%= comment.commenter %>
  </small>
  <% if not comment.email.empty? %>
    <p>联系我: <a href="mailto:#"><%=comment.email%></a></p>
  <% end %>
</div>
<% end %>
