<p><%= comment.commenter %> say:</p>
<p><%= comment.content %></p>
<p>contact me: <%= comment.email %></p>
<%= link_to 'Del Comment', article_comment_path(@article, comment), method: :delete,
data: { confirm: 'Are you sure?' } %>
