<% if object.errors.any? %>
<div id="error_explanation error-message">
  <div class="alert alert-danger">
    提交的信息存在<%= pluralize(object.errors.count, "个错误") %>.
  </div>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
