<h1>Archives#show</h1>
<%= render 'archives/article', article: @article %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
<h2>Comments:</h2>
<%= render @comments %>

<%= link_to 'Back', archives_path %>
