<div class="text-left">
  <div class="content">
    <%= render 'archives/article', article: @article %>

    <%= render 'comments/form' %><br><br>
    <%= render @comments %>
  </div>

  <div class="text-right">
    <br><br><%= link_to '后退', archives_path %>
    <span class="glyphicon glyphicon-home"></span>
  </div>
</div>
