@import "bootstrap";
@import "bootstrap-sprockets";

div#index {
  padding-left: 20%;
  padding-right: 20%;
}

div#add-comment {
  border-bottom: 1px solid #DDDDDD;
  #commenter {
    width: 50%;
  }
  #email {
    width: 50%;
  }
  #content {
    width: 75%
  }
  #commit {
    width: 75%
  }
  padding-right: 10%;
}

div.content {
  padding-left: 15%;
  padding-right: 15%;
}

div.article-title {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
}

.article-content {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 0.2rem;
  margin-bottom: 4rem;
}

.archives-field li {
  list-style: outside none none;
  color: #666;
  border-bottom: 1px dashed #CCC;
  margin-bottom: 1rem;
}

.archive-title {
  padding: 0.5rem 0px;
  color: #0E0E0E;
  font-size: 25px
}

a.archive-title {
  &:hover {
    color: #C00000;
  }
}
a:hover { text-decoration:none; }

.archive-label {
}

.title-nav {
  a {
    font-weight: bold;
    color: #FFFFFF;
    &:hover { color: #FFFFFF; }
  }
}

.left-small {
    width: 2.8125rem;
    height: 2.8125rem;
    position: absolute;
    top: 0px;
    border-right: 1px solid #1A1A1A;
    left: 0px;
}

#menu-toggle {
  width: 200;
  height: 200;
  color: #EEEEEE
}

span.glyphicon-list {
    font-size: 1.7em;
}

.navbar {
  min-height: -40px;
}
.nav > li > a {
  padding: 8px -15px;
}
.navbar-brand {
  padding: 8px -15px;
}

.text-info {
  font-style: italic;
}

div.comment {
  border-bottom: 1px dashed #CCC;
  padding-bottom: 0.2rem;
  margin-bottom: 2rem;

  .comment-info {
  }
  .comment-email {
  }
  .comment-content {
    padding: 1rem 2rem 1rem 2rem;
  }
}

div.sep {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 0.2rem;
}

footer {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: #000000;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      margin-left: 15px;
    }
  }
}

div.error-message {
}

.active {
  background: yellow;

}

.pagination {
  .previous_page { background:#7777ff; color:white }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: yellow }
  .next_page { background: #7777ff; color: white }
  .next_page.disabled { background: white; color: #777 }
}
