<footer class="footer text-right">
  <nav>
    <ul>
      <li><%= link_to "å…³äº",   '#' %></li>
      <li>Built by <%= link_to "xiaok", 'https://github.com/xuqix/XBlog' %></li>
    </ul>
  </nav>
</footer>
