<footer class="footer text-right">
  <nav>
    <ul>
      <li>
        xblog&nbsp;
        <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
        &nbsp;2016 - 2016
      </li>
      <br>
      <li>
        Build by <%= link_to "xiaok", 'https://github.com/xuqix/XBlog' %>
        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
      </li>
      <br>
      <li>
        <%= link_to "关于",   '#' %>
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </li>
      <br>
    </ul>
  </nav>
</footer>
